*{
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@font-face {
  font-family: "hero-assemble";
  src: url("font/hero14.ttf");
}

body{
  background: linear-gradient(to right, #000000, #414141);
  backdrop-filter: blur(20px);
  opacity: 0.8;
}

/*navbar*/
nav{
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0em 1em;
  width: 100%;
  height: 5em;
  border-bottom: 2px solid transparent;
  background:
        linear-gradient(to right, #000000, #353935) padding-box,
        linear-gradient(to right, #fa709a 0%, #fee140 100%) border-box;
  
}
.icon{
  display: none;
  width: 15%;
  background-image: url("img/Spectro.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65px;
}
.logoNameContainer{
  display: flex;
  width: 45%;
}
.logoName{
  padding: 20px 0;
  height: 100%;
  width: 80%;
  background: linear-gradient(to right, #fa709a, #fee140);
  background-clip: text;
  color: transparent;
  font-size: 2.4em;
  font-family: 'hero-assemble';
  border: 1px solid red;
}
navbar{
  height: 100%;
  width: 55%;
  text-align: right;
  /*border: 1px solid red;*/
}
.navOption{
  padding: 34px 1.3em;
  text-align: center;
  text-decoration: none;
  color: white;
  /*border: 1px solid green;*/
}
.navOption.current{
  color: #FFBF00;
  font-weight: 900;
}
.navOption:hover{
  background-color: #CCCCCC;
}
#loginBtn{
  margin: 19px;
  padding: 1em 2em;
  color: black;
  font-weight: bold;
  background: linear-gradient(to right, #fa709a, #fee140);
  border: none;
  border-radius: 0.4em;
  transition-duration: 0.5s;
}
#loginBtn:hover{
  cursor: pointer;
  background: grey;
  color: white;
}
/*navbar end*/

/*main*/
main{
  margin: 10px auto;
  padding: 2em 1em;
  min-height: 700px;
  /*max-width: 770px;*/
  width: 90%;
  border-radius: 30px;
  box-shadow: -10px 0 30px #414141, 10px 0 30px black;
  background: linear-gradient(to right, #000000, #414141);
}
/*HOME PAGE*/
h1{
  color: white;
}
.getStartBtn{
  margin: 1em 0;
  padding: 1.5em;
  width: 14em;
  font-weight: bold;
  background-color: #FFD700;
  border: none;
  border-radius: 30px;
  box-shadow: -2px 2px 15px grey;
  transition-duration: 1s;
}
.getStartBtn:hover{
  width: 16em;
  color: white;
  background-color: #fa709a;
  box-shadow: 0 0 50px #414141;
}
#goToAnimeText{
  display: none;
}
.getStartBtn:hover #getStartText{
  display: none;
}
.getStartBtn:hover #goToAnimeText{
  display: inline;
}
/*SEARCH BAR - MOVIE PAGE*/ 
.container1{
  height: 85px;
  display: flex;
  border-bottom: 1px solid white;
}
.topHeading{
  display: flex;
  align-content: center;
  padding: 20px 0;
  width: 50%;
  font-size: 1.7em;
  display: inline-block;
  /*border: 1px solid red;*/
}
.searchBarContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5px;
  width: 50%;
  /*border: 1px solid yellow;*/
}
.searchBar{
  padding: 0 10px;
  width: 50%;
  height: 45px;
  font-size: 1.3em;
  color: white;
  border: 1px solid transparent;
  background:
    linear-gradient(to right, #000000, #000000) padding-box,
    linear-gradient(to right, #fa709a 0%, #fee140 100%) border-box;
  border-radius: 8px;
  background-color: #FFFFFF3D;
}
.searchBar:focus{
  background: black;
}
.searchBtn{
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  transition-duration: 0.5s;
  background-image: url('img/iconSearch.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fee140;
}
.searchBtn:hover{
  background-color: yellow;
  font-weight: bold;
  color: grey;
}
/*SEARCHBAR END*/
#displayError {
  display: none;
  padding-top: 20px;
  width: 100%;
}
/*MOVIE INFORMATION*/
.container2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 10px;
  padding-bottom: 9px;
  width: 100%;
  height: auto;
  /*border: 1px solid violet;*/
}
.errorMess{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  color: white;
}
.movieContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 10px 9px; 
  width: 189px; /* ADJUST-THIS IS WIDTH*/
  height: 347px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px white;
  border: 2px solid #E2DFD2;
}
.posterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 275px;
  width: 190px;
  background-color: #E2DFD2;
  /*border: 1px solid deeppink;*/
}
.poster{
  width: 100%;
  height: 100%;
  color: white;
}
.movieType{
  position: absolute;
  right: 5px;
  top: 4px;
  min-width: 35%;
  text-align: center;
  color: white;
  background: grey;
  opacity: 0.9;
  border: 1px solid white;
  border-radius: 10px;
}
.movieDetailsContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  height: 20%;
  width: 100%;
  background: #E2DFD2;
  /*border: 1px solid lightcoral;*/
}
.movieDetails{
  padding: 3px;
  margin: 0;
  font-size: 0.7em;
  color: black;
}
.movieTitle{
  display: flex;
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  padding: 0 5px;
  height: 70%;
  width: 80%;
  overflow: auto;
  font-weight: Bold;
  font-size: 1.2em;
  /*border: 1px solid green;*/
}
.ratingsContainer{
  display: flex;
  align-items: center;
  width: 20%;
  height: 70%;
  /*border: 1px solid black;*/
}
.ratings{
  display: flex;
  justify-content: center; /*align text: center*/
  align-items: center;
  margin: auto;
  width: 95%;
  height: 70%;
  font-size: 1em;
  color: lawngreen;
  font-weight: 900;
  border-radius: 10px;
  background-color: #353935;
  
}
.genreContainer{
  display: flex;
  align-items: center;
  padding-left: 3px;
  height: 30%;
  width: auto;
  max-width: 70%;
  /*border: 1px solid red;*/
}
.genre{
  padding: 0 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  border-radius: 10px;
  background-color: grey;
}
.duration{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  word-wrap: break-word;
  height: 30%;
  width: 20%;
  padding: 0;
  right: 0;
  bottom: 0;
  /*border: 1px solid darkcyan;*/
}
.overview{ 
  position: absolute;
  padding: 10px;
  width: 100%;
  max-height: 200px;
  height: auto;
  bottom: 0;
  font-size: 1em;
  overflow: auto;
  background-color: #E2DFD2;
  transform: translateY(101%);
  transition-duration: 1s;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.overview p{
  font-weight: bold;
  font-size: 1.5em;
}
.movieContainer:hover .overview{
  transform: translateY(0);
}
/*MOVIE INFORMATION END*/

/*main end*/

/*footer */
footer{
  margin: 1em 0 0 0;
  padding: 1em;
  width: 100%;
  height: 125px;
  background-color: #8A8A8A;
}

@media(max-width: 768px){
/*NAV*/
  nav{
    display: block;
    height: 5.6em;
  }
  .logoNameContainer{
    margin: auto;
    padding: 0;
    height: 60%;
    width: 100%;
    text-align: center;
  }
  .logoName{
    padding: 9px 0;
    width: 100%;
    font-size: 2em;
    text-align: center;
  }
  
  .icon{
    width: 20%;
    background-size: 50px;
  } 
  navbar{
    padding: 0 3px;
    display: block;
    height: 40%;
    width: 100%;
    text-align: center;
  }
  .navOption{
    margin: 0;
    padding: 11px 7px;
    height: 100%;
  }
  #loginBtn{
    margin: 0;
    padding: 10px;
  }
  /*NAV END*/
  /*MAIN*/
  main {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0;
    border-radius: 30px;
  }
  .mainHome{
    text-align: center;
  }
  .topHeading{
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  /*SEARCH BAR MOBILE*/
  .container1{
    height: auto;
  }
  .searchBarContainer{
    width: 100%;
    text-align: center;
  }
  .searchBar{
    margin: 8px auto;
    width: 70%;
  }
  .searchBtn{
    display:none;
  }
  /*SEARCH BAR MOBILE END*/
  /* MAIN CONTEN ON MOBILE*/
  .container1{
    display: block;
  }
  .movieContainer{
    width: 139px;
    height: 247px;
  }
  .posterContainer{
    width: 139px ;
    height: 195px;
  }
  .movieTitle{
    font-size: 0.9em;
  }
  .ratings, .genre, .duration, .overview{
    font-size: 0.6em;
  }
  .duration{
    padding-left: 0;
  }
  /*MAIN CONTENT ON MOBILE END*/
}